* {
    box-sizing:border-box;
    font-family: "Times New Roman";
}
.App-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentTodo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputTitle {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    font-size: 16px;
}
.inputTitle:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}

.inputEnterTask {
    width:100%;
    margin:10px 0;
    resize: both;
    overflow: auto;
    padding:15px;
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    font-size: 16px;

}
.inputEnterTask:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}


.dataAndFile {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputDataChange {
    width:60%;
    margin:10px 0;
    padding:15px;
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    font-size: 14px;
}

.inputFile {
    width:60%;
    margin:10px 0;
    padding:15px;
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    font-size: 14px;
}

.buttonSave {
    width: 80%;
}
.saveTodo{
    float: right;
    bottom: 10px;
    background-color: #753fd9;
    border: 0;
    margin-top: 10px;
    padding: 10px 30px;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
.saveTodo:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
    background-color: #9b68f1;
}